body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #title {
    flex-direction: column;
    line-height: 10px;
  }
  
  li {
    display: inline-block;
    margin: 20px;
  }
  
  h1 {
    font-weight: 200;
  }
  
  main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  
  h2 {
    font-size: 50px;
    line-height: 20px;
    white-space: nowrap;
    font-family: poppinsmedium;
  }
  
  .image-conta img {
    margin-left: 40%;
    width: 60%;
    height: auto;
    border: 5px solid rgb(32, 196, 32);
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  span {
    color: rgb(32, 196, 32);
  }
  
  p {
    font-family: poppinslight;
    line-height: 20px;
    max-width: 500px;
  }
  
  a {
    color: white;
  }
  
  a {
    color: white;
  }
  
  a:hover {
    color: rgb(32, 196, 32);
    transition: 1s;
  }
  
  .dindin {
    color: rgb(30, 238, 48);
  }
  
  #inscrevase {
    border: 2px solid rgb(32, 196, 32);
    border-radius: 12px;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  #inscrevase:hover {
    background-color: rgb(33, 168, 33);
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  
  input {
    margin-top: 10px;
    height: 20px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
  }
  
  .enviz {
    margin-top: 10px;
    height: 50px;
    width: 100px;
    background-color: rgb(33, 168, 33);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }
  
  .enviz:hover {
    background-color: rgb(44, 188, 44);
    color: white;
    transform: translateY(-5px);
  }
  
  form[type="submit"]:hover {
    cursor: pointer;
  }
  .dindin {
    color: rgb(30, 238, 48);
    animation: color-change 1s ease-in-out infinite;
  }
  
  @keyframes color-change {
    0% {
      color: rgb(30, 238, 48);
    }
    50% {
      color: rgb(255, 255, 255);
    }
    100% {
      color: rgb(30, 238, 48);
    }
  }
  
  